1. Download and prepare the data. Explain the procedure

First,  download the data  store it in a CSV file. Once the data is stored in a CSV file, we can read the data into a Pandas dataframe. We can then use the Pandas dataframe to do more detailed analysis and data visualization.

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

data reading

In [3]:
bank_df = pd.read_csv('https://bit.ly/2XZK7Bo')

to check first 10 and last 10

In [ ]:
bank_df.head(10)

In [ ]:
bank_df.tail(10)

to check number of rows and columns

In [ ]:
bank_df.shape

(10000, 14)

The dataset has 11 features, which are RowNumber, CustomerId, Surname, CreditScore, Geography, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember and EstimatedSalary. I can also see that there is a target variable, Exited, which indicates whether the customer has left the bank or not.

For data modelling , i need to check missing values , outliers and  I clean data

In [ ]:
pd.DataFrame(bank_df.isnull().sum(), columns=["Number of Missing Values"])

to check dublicate

In [5]:
bank_df.duplicated().sum()

0

download sklearn

In [6]:
from sklearn.preprocessing import LabelEncoder

  split data into training and test sets. This is done using the train_test_split() function from the Scikit-learn library imported above

let create a copy of the data first

In [7]:
df_clean = bank_df.copy()
df_clean.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

import the relevant library to enable the split

In [18]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import f1_score

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

lets split data now

In [ ]:
X = df_clean.drop("exited", axis = 1)
y = df_clean["exited"]

X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2, random_state = 0)

print('X_train has', X_train.shape[0], 'rows, y_train also has', y_train.shape[0], 'rows')

print('X_test has', X_test.shape[0], 'rows, y_test also has', y_test.shape[0], 'rows')

to compare accuracy btn Decision Tree Classifier,Random Forest and  Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()


model.fit(X_train, y_train)


model_y_pred = model.predict(X_test)

# Accuracy Score
model_score = accuracy_score(model_y_pred, y_test)
print(model_score)

In [ ]:
rf = RandomForestClassifier(n_estimators = 15, random_state = 200)


rf.fit(X_train, y_train)


rf_y_pred = rf.predict(X_test)

#  Accuracy Score
rf_score = accuracy_score(rf_y_pred, y_test)
rf_score

In [ ]:

dt = tree.DecisionTreeClassifier()


dt.fit(X_train, y_train)


dt_y_pred = dt.predict(X_test)

# Accuracy Score
dt_score = accuracy_score(dt_y_pred, y_test)
print(dt_score)

using F1 score to   evaluate the model on unbalance

In [ ]:
 
rf = RandomForestClassifier(n_estimators = 15, random_state = 200)
rf.fit(X_train, y_train)
rf_y_pred = rf.predict(X_test)
rf_score = accuracy_score(rf_y_pred, y_test)

print('F1 score is ',f1_score(y_test, rf_y_pred))